.app-compat-list-section {
    display: flex;
    flex-wrap: wrap;

    .app-compat-card {
        width: 350px;
        border-style: solid;
        border-width: 2px;
        border-color: $color2;
        padding: 5px;
        margin-bottom: 25px;
        margin-right: 25px;
        scroll-margin-top: $header-height;

        code {
            font-size: 0.95em;
        }

        .app-compat-card-comments {
            border-top: 1px solid $color2;
            padding-top: 10px;
        }

        .app-compat-card-app-description {
            font-style: italic;
        }

        .app-compat-card-status-icons {
            border-top: 1px solid $color2;
        }

        p {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }

        h3 {
            margin-top: 15px;
        }
    }
}