#article {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;

    &__title {
        text-align: center;
        border-bottom: 2px solid $color2;
    }

    @mixin code_defaults(){
        background-color: $color2;
        color: $color5;
        font-family: monospace;
    }

    code {
        @include code_defaults();
        padding: 2px;
    }

    pre {
        @include code_defaults();
        padding: 10px;
    }
}

#section_articles {
    padding-left: 20px;
    padding-right: 20px;
}

// taken from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019"
}
blockquote:before {
	color: #ccc;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
}