#suggested-articles {
    font-size: 1.1em;
    padding: 20px;

    #suggested-articles-header {
        border-top: 2px solid $color2;
        padding-top: 15px;
    }

    .suggested-article-card {
        padding-bottom: 20px;

        .suggested-article-title {
            margin-bottom: 3px;
        }
    }
}