<div>
    <div id="{{ package_name }}" class="app-compat-card">
        <h3>{{ app_name }}</h3>
        <p><code>{{ package_name }}</code></p>
        <p>Works: {{ works }}</p>
        {%- if works_bool -%}
        <p>...without GMS: {{ works_without_gms }}</p>
        <p>...if not installed by Play: {{ works_installed_by_any_source }}</p>
        {% endif %}
        {%- if comments | length > 0 -%}
        <p class="app-compat-card-comments">{{ comments | safe }}</p>
        {% endif %}
    </div>
</div>
