<div>
    <div id="{{ package_name }}" class="app-compat-card">
        <h3>{{ app_name }}</h3>
        <p><a href="#{{ package_name }}"><code>{{ package_name }}</code></a> <code>{{ version }}</code></p>
        {%- if description | length > 0 -%}
        <div class="app-compat-card-app-description">{{ description | safe }}</div>
        {%- endif -%}
        {%- if repo_or_download_link | length > 0 -%}
        <p><a href="{{ repo_or_download_link }}" target="_blank">{{ link_host }}</a></p>
        {%- endif -%}
        <div class="app-compat-card-status-icons">
        <p>Works: {{ general_status_icon }}</p>
        {%- if works -%}
        <p>...without Google Play: {{ works_without_gms }}</p>
        <p>...if not installed by Google Play: {{ works_installed_by_any_source }}</p>
        {%- endif -%}
        </div>
        {%- if other_compatibility_comment | length > 0 -%}
        <div class="app-compat-card-comments">{{ other_compatibility_comment | safe }}</div>
        {% endif %}
    </div>
</div>
